/*********** Add Custom Css *********************/
.alternative-payment-separator {
    display: none;
}

.cart-item__meta-title {
    font-size: 1.9rem;
}
.btn-group .btn:last-child[name="checkout"]{
  margin-top: 10px;
}

@media only screen and (min-width: 750px){
  .cart-footer {
    padding-top: 30px;
  }
}